<div
  (click)="expanded = !expanded"
  id="related-guidance-toggle"
  data-role="related-guidance__toggle-area"
  class="bb-block bb-block--lg"
>
  <div class="bb-stack">
    <div
      i18n="
        Related guidance (optional) header|The header in the reset password
        quick action flow for the expando showing optional related guidance for
        password
        security@@bb-ewa-user-mode.assist-area.quick-actions.reset-password.reset-password-confirmation.related-guidance"
      class="bb-stack__item"
      data-role="related-guidance__header"
      aria-labelledby="related-guidance-toggle"
    >
      <span class="font-weight-bold">Related guidance </span>
      <span class="bb-subtitle bb-text-support">(Optional)</span>
    </div>
    <button
      bbButton
      type="button"
      color="link-dark"
      [circle]="false"
      buttonSize="sm"
      class="bb-stack__item bb-stack__item--push-right"
      data-role="related-guidance__toggle"
      title="Related guidance"
      i18n-title="
        Related guidance header icon|The header icon for the expando showing
        related guidance for password
        security@@bb-ewa-user-mode.assist-area.quick-actions.reset-password.reset-password-confirmation.related-guidance-icon"
    >
      <bb-icon-ui
        [name]="expanded ? 'expand-less' : 'expand-more'"
        [inverse]="true"
        size="md"
      ></bb-icon-ui>
    </button>
  </div>
  <hr />
</div>
<div style="overflow: hidden">
  <div *ngIf="expanded" [@slideInOut] data-role="related-guidance-details">
    <bb-alert-ui
      title=""
      modifier="info"
      data-role="security-advice-info"
      i18n="
        Security advice info banner|Information banner in the reset password
        quick action flow to remind the user to get confirmation from the
        customer that they are happy to receive security
        advice@@bb-ewa-user-mode.assist-area.quick-actions.reset-password.reset-password-confirmation.security-advice-info"
      >Ask the customer if they want tips on password security. If they answer
      'yes', give this information:</bb-alert-ui
    >
    <div>
      <ul>
        <li>
          <div
            class="bb-block--md"
            i18n="
              Duplicate password advice text|Text in the reset password quick
              action flow for the advice to be given to the customer to avoid
              using the same password
              twice@@bb-ewa-user-mode.assist-area.reset-password.reset-password-confirmation.duplicate-password-text"
          >
            Make sure your banking password is different to any other password
            you use.
          </div>
        </li>
        <li>
          <div
            class="bb-block--md"
            i18n="
              Private password advice text|Text in the reset password quick
              action flow for the advice to not share the password or to not
              store the password
              securely@@bb-ewa-user-mode.assist-area.reset-password.reset-password-confirmation.private-password-text"
          >
            Don't share your password with anyone else.
          </div>
        </li>
        <li>
          <div
            class="bb-block--md"
            i18n="
              Avoid writing password|Text in the reset password quick action
              flow for the advice to avoid writing your password in unsecure
              areas@@bb-ewa-user-mode.assist-area.reset-password.reset-password-confirmation.avoid-writing-password"
          >
            Avoid writing your password on paper or saving it in your phone or
            computer notes.
          </div>
        </li>
        <li>
          <div
            class="bb-block--md"
            i18n="
              Password manager advice text|Text in the reset password quick
              action flow for the advice to store the password in a secure
              password manager
              application@@bb-ewa-user-mode.assist-area.reset-password.reset-password-confirmation.password-manager-text"
          >
            Consider using a password manager on your phone or computer
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
