<nav
  role="navigation"
  data-role="customer-support-nav"
  aria-label="Customer support"
  i18n-aria-label="
    Customer support navigation|Label for the Customer support navigation
    menu@@employee-app.customer-support.nav-label"
>
  <ul class="bb-layout__vertical-nav">
    <li class="bb-layout__vertical-nav-section">
      <div
        class="bb-layout__vertical-nav-header"
        i18n="
          Customer workspace menu header|Title text for the customer support
          workspace nav menu@@employee-app.customer-support.nav-title"
      >
        Customer workspace
      </div>
      <ul class="bb-layout__vertical-nav">
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.userSearch"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="users"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : usersLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-users bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ usersLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.messageCenter"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="messages"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : messageCenterLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-mail bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ messageCenterLabel }}
            </span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
