<nav role="navigation" data-role="service-agreement-mode-nav">
  <ul class="bb-layout__vertical-nav">
    <li
      class="bb-layout__vertical-nav-section"
      *bbIfEntitlements="manageServiceAgreementMenuHeaderEntitlements"
    >
      <div
        class="bb-layout__vertical-nav-header"
        i18n="
          Entitlements menu header|Title text for the entitlements header in
          service agreement
          mode@@employee-app.service-agreement-mode-nav.manage-service-agreement"
      >
        Manage service agreement
      </div>
      <ul class="bb-layout__vertical-nav">
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.usersAndPermissions"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./users-and-permissions"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
          >
            <i class="bicon bicon-people-outline bb-navigation-item__icon"></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                users and permissions menu item|Link text to navigate to the
                users and permissions
                page@@employee-app.service-agreement-mode-nav.users-and-permissions"
            >
              Users and permissions
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.jobRoles"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./job-roles"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
          >
            <i class="bicon bicon-recent-actors bb-navigation-item__icon"></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                job roles menu item|Link text to navigate to the job roles
                page@@employee-app.service-agreement-mode-nav.job-roles"
            >
              Job roles
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.accountGroups"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./account-groups"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
          >
            <i
              class="bicon bicon-current-accounts bb-navigation-item__icon"
            ></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                account groups menu item|Link text to navigate to the account
                groups
                page@@employee-app.service-agreement-mode-nav.account-groups"
            >
              Account groups
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.payeeGroups"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./payee-groups"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
          >
            <i class="bicon bicon-group bb-navigation-item__icon"></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                payee groups menu item|Link text to navigate to the payee groups
                page@@employee-app.service-agreement-mode-nav.payee-groups"
            >
              Payee groups
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.approvals"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./approvals"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
          >
            <i class="bicon bicon-authorizations bb-navigation-item__icon"></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                Approvals menu item|Link text to navigate to the Approvals
                page@@bb-ewa.service-agreement-mode.navigation.menu-item.approvals"
            >
              Approvals
            </span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
