<nav
  role="navigation"
  data-role="service-agreement-mode-nav"
  aria-label="Service agreement"
  i18n-aria-label="
    Service agreement navigation|Label for the Service agreement navigation
    menu@@employee-app.service-agreement.nav-label"
>
  <ul class="bb-layout__vertical-nav">
    <li class="bb-layout__vertical-nav-section">
      <div
        class="bb-layout__vertical-nav-header"
        i18n="
          Entitlements menu header|Title text for the entitlements header in
          service agreement
          mode@@employee-app.service-agreement-mode-nav.manage-service-agreement"
      >
        Manage service agreement
      </div>
      <ul class="bb-layout__vertical-nav">
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.usersAndPermissions"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./users-and-permissions"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : usersAndPermissionsLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-people-outline bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ usersAndPermissionsLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.jobRoles"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./job-roles"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : jobRolesLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-recent-actors bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ jobRolesLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.accountGroups"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./account-groups"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : accountGroupsLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-current-accounts bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ accountGroupsLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.payeeGroups"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./payee-groups"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : payeeGroupsLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-group bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ payeeGroupsLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.approvals"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./approvals"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : approvalsLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-authorizations bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ approvalsLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.localRestrictions"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./local-restrictions"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : localRestrictionsLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-apps bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ localRestrictionsLabel }}
            </span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
