<nav
  role="navigation"
  data-role="bank-admin-nav"
  aria-label="Bank admin"
  i18n-aria-label="
    Bank admin navigation|Label for the Bank admin navigation
    menu@@employee-app.bank-admin.nav-label"
>
  <ul class="bb-layout__vertical-nav">
    <li class="bb-layout__vertical-nav-section">
      <div
        class="bb-layout__vertical-nav-header"
        i18n="
          Bank admin menu header|Title text for the Bank admin workspace nav
          menu@@employee-app.bank-admin.nav-title"
      >
        Bank admin workspace
      </div>
      <ul class="bb-layout__vertical-nav">
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.userEnrollment"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="user-enrollment"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : userEnrollmentLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-how-to-reg bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ userEnrollmentLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.createUser"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="create-user"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : createUserLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-person-add bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ createUserLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.legalEntities"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="legal-entities"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : legalEntitiesLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-business bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ legalEntitiesLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.serviceAgreements"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="service-agreements"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : serviceAgreementsLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-lock bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ serviceAgreementsLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.approvalLog"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="approval-log"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : approvalLogLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-done-all bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ approvalLogLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.audit"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="audit"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : auditLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-audit bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ auditLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.topics"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="topics"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : topicManagementLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-markunread-mailbox bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ topicManagementLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.conversationCategory"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="conversation-category"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : conversationCategoryLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-speaker-notes bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ conversationCategoryLabel }}
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li
      class="bb-layout__vertical-nav-separator"
      role="separator"
      *bbIfEntitlements="configMenuHeaderEntitlements"
    ></li>
    <li
      class="bb-layout__vertical-nav-section"
      *bbIfEntitlements="configMenuHeaderEntitlements"
    >
      <div
        class="bb-layout__vertical-nav-header"
        data-role="bank-admin-configuration-nav-header"
        i18n="
          Configuration menu header|Title text for the Configuration header in
          Bank admin workspace nav
          menu@@employee-app.bank-admin-nav.configuration"
      >
        Configuration
      </div>
      <ul class="bb-layout__vertical-nav">
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.globalLimits"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="global-limits"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : globalLimitsLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-vertical-align-top bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ globalLimitsLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.globalRestrictions"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="global-restrictions"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : globalRestrictionsLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-apps bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ globalRestrictionsLabel }}
            </span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
