<nav role="navigation" data-role="user-mode-nav">
  <ul class="bb-layout__vertical-nav">
    <li
      class="bb-layout__vertical-nav-item"
      *bbIfEntitlements="entitlements.overview"
    >
      <a
        class="bb-layout__vertical-nav-item-link"
        routerLink="./overview"
        routerLinkActive="bb-layout__vertical-nav-item-link--active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="bicon bicon-dashboard bb-navigation-item__icon"></i>
        <span
          class="bb-layout__vertical-nav-item-title"
          i18n="
            Customer overview menu item|Link text to navigate to the customer
            overview page@@employee-app.user-mode-nav.customer-overview"
        >
          Customer overview
        </span>
      </a>
    </li>
    <li
      class="bb-layout__vertical-nav-separator"
      role="separator"
      *bbIfEntitlements="userSupportMenuHeaderEntitlements"
    ></li>
    <li
      class="bb-layout__vertical-nav-section"
      *bbIfEntitlements="userSupportMenuHeaderEntitlements"
    >
      <div
        class="bb-layout__vertical-nav-header"
        i18n="
          User support menu header|Title text for the user support header in
          user mode@@employee-app.user-mode-nav.customer-support"
      >
        User support
      </div>
      <ul class="bb-layout__vertical-nav">
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.profile"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./profile"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="bicon bicon-people-outline bb-navigation-item__icon"></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                Profile menu item|Link text to navigate to the profile
                page@@employee-app.user-mode-nav.profile"
            >
              Profile
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.security"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./security"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
          >
            <i class="bicon bicon-lock bb-navigation-item__icon"></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                Login & security menu item|Link text to navigate to the login &
                security page@@employee-app.user-mode-nav.security"
            >
              Login & security
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.devices"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./devices"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
          >
            <i class="bicon bicon-smartphone bb-navigation-item__icon"></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                Devices menu item|Link text to navigate to the device details
                page@@employee-app.user-mode-nav.devices"
            >
              Devices
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.sessions"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./sessions"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
          >
            <i class="bicon bicon-phonelink bb-navigation-item__icon"></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                Sessions menu item|Link text to navigate to the sessions
                page@@employee-app.user-mode-nav.sessions"
            >
              Sessions
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li
      class="bb-layout__vertical-nav-separator"
      role="separator"
      *bbIfEntitlements="productAndPaymentHeaderEntitlements"
    ></li>
    <li
      class="bb-layout__vertical-nav-section"
      *bbIfEntitlements="productAndPaymentHeaderEntitlements"
    >
      <div
        class="bb-layout__vertical-nav-header"
        i18n="
          Product and payment support menu header|Title text for the product and
          payment support header in user
          mode@@employee-app.user-mode-nav.product-and-payment-support"
      >
        Product & Payment Support
      </div>
      <ul class="bb-layout__vertical-nav">
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.products"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./products"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
          >
            <i
              class="bicon bicon-current-accounts bb-navigation-item__icon"
            ></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                Products menu item|Link text to navigate to the products
                page@@employee-app.user-mode-nav.products"
            >
              Products
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.cards"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./cards"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
          >
            <i class="bicon bicon-credit-cards bb-navigation-item__icon"></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                Cards menu item|Link text to navigate to the cards
                page@@employee-app.user-mode-nav.cards"
            >
              Cards
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.paymentOrders"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./payments"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
          >
            <i class="bicon bicon-payments bb-navigation-item__icon"></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                Payment orders menu item|Link text to navigate to the payment
                orders page@@employee-app.user-mode-nav.payment-orders"
            >
              Payment orders
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li
      class="bb-layout__vertical-nav-separator"
      role="separator"
      *bbIfEntitlements="customerActivityHeaderEntitlements"
    ></li>
    <li
      class="bb-layout__vertical-nav-section"
      *bbIfEntitlements="customerActivityHeaderEntitlements"
    >
      <div
        class="bb-layout__vertical-nav-header"
        i18n="
          Customer activity menu header|Title text for the customer activity
          header in user mode@@employee-app.user-mode-nav.customer-activity"
      >
        Customer activity
      </div>
      <ul class="bb-layout__vertical-nav">
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.conversationHistoryView"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./conversation-history"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
          >
            <i class="bicon bicon-speaker-notes bb-navigation-item__icon"></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                Conversation history menu item|Link text to navigate to the
                conversation history
                page@@employee-app.user-mode-nav.conversation-history"
            >
              Conversation history
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.comments"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./comments"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
          >
            <i class="bicon bicon-mode-comment bb-navigation-item__icon"></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                Comments menu item|Link text to navigate to the comments
                page@@employee-app.user-mode-nav.comments"
            >
              Comments
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.audit"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./activity-log"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
          >
            <i class="bicon bicon-history bb-navigation-item__icon"></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                Activity log menu item|Link text to navigate to the activity log
                page@@employee-app.user-mode-nav.activity-log"
            >
              Activity log
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.messages"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./messages"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
          >
            <i class="bicon bicon-mail bb-navigation-item__icon"></i>
            <span
              class="bb-layout__vertical-nav-item-title"
              i18n="
                Messages menu item|Link text to navigate to the messages page in
                the user mode@@employee-app.user-mode-nav.messages"
            >
              Messages
            </span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
