<nav
  role="navigation"
  data-role="user-mode-nav"
  aria-label="User"
  i18n-aria-label="
    User navigation|Label for the User navigation
    menu@@employee-app.user.nav-label"
>
  <ul class="bb-layout__vertical-nav">
    <li
      class="bb-layout__vertical-nav-item"
      *bbIfEntitlements="entitlements.overview"
    >
      <a
        class="bb-layout__vertical-nav-item-link"
        routerLink="./overview"
        routerLinkActive="bb-layout__vertical-nav-item-link--active"
        [routerLinkActiveOptions]="{ exact: true }"
        [bbTooltip]="(isOpen$ | async) ? null : customerOverviewLabel"
        triggers="hover focus"
        container="body"
        [placement]="tooltipPlacement"
      >
        <i
          class="bicon bicon-dashboard bb-navigation-item__icon"
          aria-hidden="true"
        ></i>
        <span class="bb-layout__vertical-nav-item-title">
          {{ customerOverviewLabel }}
        </span>
      </a>
    </li>
    <li
      class="bb-layout__vertical-nav-separator"
      role="separator"
      *bbIfEntitlements="userSupportMenuHeaderEntitlements"
    ></li>
    <li
      class="bb-layout__vertical-nav-section"
      *bbIfEntitlements="userSupportMenuHeaderEntitlements"
    >
      <div
        class="bb-layout__vertical-nav-header"
        i18n="
          User support menu header|Title text for the user support header in
          user mode@@employee-app.user-mode-nav.customer-support"
      >
        User support
      </div>
      <ul class="bb-layout__vertical-nav">
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.profile"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./profile"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [routerLinkActiveOptions]="{ exact: true }"
            [bbTooltip]="(isOpen$ | async) ? null : profileLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-people-outline bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ profileLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.security"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./security"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : loginAndSecurityLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-lock bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ loginAndSecurityLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.devices"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./devices"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : devicesLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-smartphone bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ devicesLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.sessions"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./sessions"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : sessionsLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-phonelink bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ sessionsLabel }}
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li
      class="bb-layout__vertical-nav-separator"
      role="separator"
      *bbIfEntitlements="productAndPaymentHeaderEntitlements"
    ></li>
    <li
      class="bb-layout__vertical-nav-section"
      *bbIfEntitlements="productAndPaymentHeaderEntitlements"
    >
      <div
        class="bb-layout__vertical-nav-header"
        i18n="
          Product and payment support menu header|Title text for the product and
          payment support header in user
          mode@@employee-app.user-mode-nav.product-and-payment-support"
      >
        Product & Payment Support
      </div>
      <ul class="bb-layout__vertical-nav">
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.products"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./products"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : productsLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-current-accounts bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ productsLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.cards"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./cards"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : cardsLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-credit-cards bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ cardsLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.createPayment"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./initiate-payment"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : moveMoneyLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-transactions bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ moveMoneyLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.paymentOrders"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./payments"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : paymentOrdersLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-payments bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ paymentOrdersLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.pockets"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./pockets"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : pocketsLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-style bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ pocketsLabel }}
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li
      class="bb-layout__vertical-nav-separator"
      role="separator"
      *bbIfEntitlements="customerActivityHeaderEntitlements"
    ></li>
    <li
      class="bb-layout__vertical-nav-section"
      *bbIfEntitlements="customerActivityHeaderEntitlements"
    >
      <div
        class="bb-layout__vertical-nav-header"
        i18n="
          Customer activity menu header|Title text for the customer activity
          header in user mode@@employee-app.user-mode-nav.customer-activity"
      >
        Customer activity
      </div>
      <ul class="bb-layout__vertical-nav">
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.conversationHistoryView"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./conversation-history"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : conversationHistoryLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-speaker-notes bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ conversationHistoryLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.comments"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./comments"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : commentsLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-mode-comment bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ commentsLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.audit"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./activity-log"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : activityLogLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-history bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ activityLogLabel }}
            </span>
          </a>
        </li>
        <li
          class="bb-layout__vertical-nav-item"
          *bbIfEntitlements="entitlements.messages"
        >
          <a
            class="bb-layout__vertical-nav-item-link"
            routerLink="./messages"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [bbTooltip]="(isOpen$ | async) ? null : messagesLabel"
            triggers="hover focus"
            container="body"
            [placement]="tooltipPlacement"
          >
            <i
              class="bicon bicon-mail bb-navigation-item__icon"
              aria-hidden="true"
            ></i>
            <span class="bb-layout__vertical-nav-item-title">
              {{ messagesLabel }}
            </span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
